@font-face {
  font-family: ps_regular;
  src: url(fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: ps_bold;
  src: url(fonts/ProductSans-Bold.ttf);
}
body {
  background-color: #fff;
  font-family: ps_regular;
}
h3,
h4,
h5,
h6 {
  font-family: ps_bold;
}
