@font-face {
  font-family: ps_regular;
  src: url(fonts/ProductSans-Regular.woff);
}
@font-face {
  font-family: ps_bold;
  src: url(fonts/ProductSans-Bold.woff);
}
@font-face {
  font-family: ps_black;
  src: url(fonts/ProductSans-Black.woff);
}
@font-face {
  font-family: ps_light;
  src: url(fonts/ProductSans-Light.woff);
}
@font-face {
  font-family: fira_code;
  src: url(fonts/FiraCode-VariableFont_wght.woff);
}
code {
  font-family: 'fira_code', monospace;
}
body {
  font-family: ps_light;
}
* {
  color: inherit;
}

h3,
h4,
h5,
h6 {
  font-family: ps_bold;
}
h1,
h2 {
  font-family: ps_black;
}
div#container {
  height: 100vh;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

* {
  margin: 0;
}
div#container:focus {
  outline: none;
}

pre {
  padding: 11px 7px;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 12px auto;
}

p {
  padding: 11px 0px;
}
p code {
  margin: 0px 3px;
  padding: 1px 7px;
  border-radius: 9px;
}